@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');
main {
    background-color: rgb(241,245,248);
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Roboto Flex', sans-serif;
}
#container {
    text-align: center;
}

h1{
    color: rgb(23, 23, 81);
    font-weight: bold;
    font-size: 50px;
}

#value {
font-size: 40px;
font-weight: bold;
}

.btn-container {
margin-top: 30px;
}

.btn {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border-color: rgb(11, 10, 10);
    color: rgb(17, 16, 16);
}
